* html {
    margin: 0;
    padding: 0;
}

/* WallpaperBody */
body{
    background-image: url(assets/realistic-dark-purple-silk-satin-fabric-background-illustration-free-vector.jpg) ;
}

/* Navbar1 */
.li-navbar {
    list-style-type: none;
    padding: 5%;
    margin: 4%;
    justify-content: center;
    align-items: center;
}

/* Navbar2 */
.nav-bar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    position: relative; 
    width: 90%;
}

.nav-menu {
    gap: 8%;
    align-items: center;
}

.nav-menu a {
    color: rgb(255, 255, 255);
    text-decoration:double;
    font-size: 140%;
}

/* UkuranBody */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* KotakNavbar */
.li-navbar:hover {
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
    transition: .5s ease-in-out;
    transition-delay: .1s;
}

/* WordTitle2 */
.headert{
    color: rgb(204, 204, 204);
    font-size:40px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin:auto;
    font-style:oblique;
}

/* TITLE */
.titleProductd{
    display: flex;
    justify-content: center;
text-align: center;
font-size: 70%;

}

/* PRODUK */
.productdd{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.productdds  a img{
    width: 800px;
}


/* Photo2 */
.containerssss-content {
    background-image: url(assets/abstract-blue-grunge-texture-background-free-vector.jpg);
    
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    
    height: 130%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

/* footer */
footer{
    margin: 0;
    padding-top: 20px;
    background-image: url(assets/realistic-dark-purple-silk-satin-fabric-background-illustration-free-vector.jpg);
}

.footer-copyright{
    width: 60%;
    font-size: 50%;
    display: flex;
    color: rgb(218, 218, 218);
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}


.footer-desc{
    width: 60%;
    font-size: 80%;
    display: flex;
    color: rgb(218, 218, 218);
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-desc > div > h2,p {
    color: white;
}

@media (max-width: 1100px) {
    .nav-menu {
        flex-direction: column;
        text-align: center; 
    }

    .nav-bar {
        justify-content: center; 
    }

    .section-header {
        font-size: 1.5em;
    }

    .home-btn {
        flex-direction: column;
    }

    .home-btn button {
        width: 100%;
    }

    .footer-desc {
        flex-direction: column;
    }

    .footer-desc > div {
        text-align: center;
    }
}